{
  "extends": ["vue", /* your other extends */],
  "plugins": ["vue", "html"],
  "rules": {
    /* your overrides -- vue/jsx-uses-vars is included in eslint-config-vue */
    "semi": ["error", "always"]
  },
}